---
import Layout from '$components/Layout/index.tsx';
import { lstatSync, readdirSync, readFileSync } from 'node:fs';
import { join, resolve } from 'node:path';
import { Markdown } from 'astro/components';
import fm from 'front-matter';
import BannerImage from '$components/BannerImage.tsx';
import PostViewsLikes from '$components/PostViewsLikes.tsx';
import CommentForm from '$components/CommentForm.tsx';
import Comments from '$components/Comments.tsx';
import website from '$configuration/website.ts';

export async function getStaticPaths() {
  const __dirname = resolve();
  const BLOG_PATH = join(__dirname, 'content/blog');
  const directories = readdirSync(BLOG_PATH).filter((element) =>
    lstatSync(`${BLOG_PATH}/${element}`).isDirectory(),
  );

  return directories.map((element) => {
    const contentPath = `${BLOG_PATH}/${element}/index.md`;
    const content = readFileSync(contentPath, { encoding: 'utf-8' });
    const frontmatter = fm(content);
    const { postTitle } = frontmatter.attributes;
    return { params: { slug: element }, props: { title: postTitle } };
  });
}


const { workerUrl } = website;
const { slug } = Astro.request.params;

const response = await fetch(`${workerUrl}/post/data`, {
      method: 'POST',
      credentials: 'omit',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        slug,
      }),
    });

    const data = await response.json();
    const { comments, likes, views} = data;

const { title } = Astro.props;
const Content = (await import(`../../content/blog/${slug}/index.md`)).default;
const imageData = (await import(`../generated/posts/${slug}.js`)).default;
---

<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://js.hcaptcha.com/1/api.js?render=explicit" async defer hoist></script>
  </head>
  <body>
    <Layout client:load {slug}>
      <BannerImage client:load {imageData} />
      <h1>{title}</h1>
      <PostViewsLikes client:load {likes} {views} comments={comments.length} />
      <Markdown client:load>
        <Content />
      </Markdown>
      <PostViewsLikes client:visible {likes} {views} comments={comments.length} />
      <CommentForm client:visible />
      <Comments client:visible {comments}/>
    </Layout>
  </body>
</html>