---
const { content } = Astro.props;
import Layout from './index.jsx';
import PostViewsLikes from '../PostViewsLikes.jsx';
import website from '../../configuration/website.js';
import Comments from '../Comments.jsx';
import CommentForm from '../CommentForm.jsx';
import BannerImage from '../BannerImage.jsx';

const { workerUrl} = website;

const {featuredImage, postTitle, seoMetaDescription} = content;
const slug = featuredImage.split('.')[0];

const imageData = await import(`../../generated/posts/${slug}.js`);
const response = await fetch(`${workerUrl}/post/data`, {
  method: 'POST',
  credentials: 'omit',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify({ slug}),
});
const data = await response.json();
const {comments, likes, views} = data;
---

<html>
  <head>
    <title>{postTitle}</title>
  </head>

  <body>
	   <Layout client:load slug={slug}>
     <BannerImage client:load imageData={imageData.default}/>
		 <h1>{postTitle}</h1>
     <PostViewsLikes client:idle likes={likes} views={views} slug={slug} comments={comments.length}/>
    <slot />
     <PostViewsLikes client:visible likes={likes} views={views} slug={slug} comments={comments.length}/>
    <CommentForm client:visible slug={slug}/>
    <Comments client:visible  comments={comments}/>
		</Layout>
  </body>
</html>
